<div ng-controller="orgStructureShare.itemController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>

    <div class="itemView-Body col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate role="form" esp-validate-complete="submit()"
                      esp-validate-options="{promptPosition:'bottomRight',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                      class="form-horizontal ls_form" name="form">

                    <div class="row">
                        <label class="col-md-3 control-label">
                            <i class="red fa fa-asterisk"></i>
                            نام مرکز
                        </label>
                        <div class="col-md-4">
                            <ui-select ng-model="viewModel.branch"
                                       ng-change="onchange_branch()"
                                       class="validate[funcCall[ifUiSelectNotEmpty]]">
                                <ui-select-match placeholder="نام مرکز را انتخاب کنید" allow-clear="true">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (branches | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    موردی یافت نشد
                                </ui-select-no-choice>
                            </ui-select>

                        </div>
                    </div>
                    <br />
                    <div class="table-responsive ls-table" ng-if="viewModel.items.length != 0">
                        <table class="table table-bordered table-striped " cellspacing="0">
                            <thead class="bold">
                                <tr>
                                    <td rowspan="2" class="align-center vertical-middle">پست سازمانی</td>
                                    <td class="align-center" colspan="3">درصد سهم</td>
                                    <td class="align-center" colspan="2">محدوده پورسانت</td>
                                </tr>
                                <tr>

                                    <td class="align-center"> فروش</td>
                                    <td class="align-center"> وصول کل</td>
                                    <td class="align-center">وصول خصوصی</td>
                                    <td class="align-center">حداقل</td>
                                    <td class="align-center">حداکثر</td>
                                </tr>
                            </thead>
                            <tr ng-repeat="record in viewModel.items">
                                <td class="text-center">
                                    {{record.orgStructure.positionType.description}}
                                </td>
                                <td class="align-center">
                                    <input type="number"
                                           ng-model="record.salesPercent"
                                           class="form-control dir-ltr"
                                           min="0" max="100"
                                           step="0.000001">
                                </td>
                                <td class="align-center">
                                    <input type="number"
                                           ng-model="record.totalReceiptPercent"
                                           class="form-control dir-ltr"
                                           min="0" 
                                           step="0.000001">
                                </td>
                                <td class="align-center">
                                    <input type="number"
                                           ng-model="record.privateReceiptPercent"
                                           class="form-control dir-ltr"
                                           min="0" 
                                           step="0.000001">

                                </td>

                                <td class="align-center">
                                    <input type="text"
                                           ng-model="record.minimumPromotion"
                                           class="form-control dir-ltr"
                                           ng-trim=false
                                           awnum="price">
                                </td>
                                <td class="align-center">
                                    <input type="text"
                                           ng-model="record.maximumPromotion"
                                           class="form-control dir-ltr"
                                           ng-trim=false
                                           awnum="price">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                ng-if="viewModel.items.length != 0 "
                                class="btn btn-success">
                            <i class="fa fa-check"></i>
                            <span>ثبت</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
