<!DOCTYPE html>
<html style="font-family:Tahoma;font-size:12px">
<head>
    <meta charset="utf-8" />
</head>
<body dir="rtl">
    <h2>
        تغییر رمز عبور
    </h2>
    <br />  
   
    <p>
        در تاریخ $DateTime$ رمز عبور شما تغییر داده شده است
    </p>
    <p>
        از این تاریخ به بعد شما میتوانید با اطلاعات کاربری مشخص شده در زیر به سیستم نوترینو وارد شوید
    </p>
    <p>
        <table>
            <tr>
                <td>
                    نام کاربری :
                </td>
                <td>
                    $UserName$
                </td>
            </tr>
            <tr>
                <td>
                    رمز عبور :
                </td>
                <td>
                    $password$
                </td>
            </tr>
        </table>
    </p>
    <br />
    <p>
        <h5>
            لطفا به این ایمیل پاسخ ندهید.
        </h5>
    </p>
</body>
</html>