<div ng-controller="promotion.branchShare.indexController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="itemView-Body col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form novalidate role="form" esp-validate-complete="submit()"
                                      esp-validate-options="{promptPosition:'bottomLeft',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                                      class="form-horizontal ls_form" name="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            سال
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control validate[funcCall[ifSelectNotEmpty]]"
                                                    ng-options="item for item in years"
                                                    ng-model="viewModel.year">
                                                <option value="" selected>[ انتخاب کنید ]</option>

                                            </select>
                                        </div>
                                        <label class="col-md-2 control-label">
                                            ماه
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control validate[funcCall[ifSelectNotEmpty]]"
                                                    ng-options="item.id as item.name for item in months"
                                                    ng-model="viewModel.month">
                                                <option value="" selected>[ انتخاب کنید ]</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            <i class="red fa fa-asterisk"></i>
                                            نام مرکز
                                        </label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="viewModel.branch"
                                                       class="validate[funcCall[ifUiSelectNotEmpty]]">
                                                <ui-select-match placeholder="نام مرکز را انتخاب کنید" allow-clear="true">
                                                    <span ng-bind="$select.selected.name"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in (branches | filter: $select.search) track by item.id">
                                                    <span ng-bind="item.name"></span>
                                                </ui-select-choices>
                                                <ui-select-no-choice>
                                                    موردی یافت نشد
                                                </ui-select-no-choice>
                                            </ui-select>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" ng-click="getData()"
                                                class="btn btn-success">
                                            <i class="fa fa-check"></i>
                                            <span>تایید</span>
                                        </button>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>