<div ng-controller="promotion.branchShare.ceo.indexController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive text-nowrap" ng-if="branchPromotions.length != 0">
                        <table class="table table-striped">

                            <thead class="bold">
                                <tr>
                                    <td class="align-center"><input type="text" ng-model="filter_branchName" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td class="align-center">نام مرکز</td>
                                    <td class="align-center"> پورسانت کل</td>
                                    <td class="align-center"></td>
                                </tr>
                            </thead>
                            <tr ng-repeat="record in branchPromotions | filter :{branchName: filter_branchName}">
                                <td class="text-center">
                                    {{record.branchName}}
                                </td>
                                <td class="align-center dir-ltr">
                                    {{record.totalPromotion | number}}
                                </td>
                                <td class="text-center">
                                    <button ng-click="auditBranchMemebrPromotion(record)" class='btn ls-light-blue-btn '>
                                        <i class='fa fa-search'></i>
                                        <span>بررسی و اعمال نظر</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="branchPromotions.length == 0">
                        <table class="table" cellspacing="0">
                            <caption>
                                <h2>اطلاعاتی وجود ندارد</h2>
                            </caption>
                        </table>
                    </div>
                    <!--Table Wrapper Finish-->
                </div>
            </div>
        </div>
    </div>
</div>