<div ng-controller="promotion.branchShare.manager.indexController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="itemView-Body col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row ls-pricing-table-wrap">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="basic free-wrap">
                                            <ul>
                                                <li>
                                                    <div class="ls-hex-bage premium-bage">
                                                        <span class="ls-pricing">جمع پورسانت مرکز</span>
                                                    </div>
                                                    <div class="basic-price-simple">
                                                        <h5><p class="bold">{{monthTitle}}&nbsp;&nbsp;&nbsp;&nbsp;{{year}}&nbsp;</p></h5>
                                                        <div class="ls_divider"></div>
                                                        <h5 class="dir-ltr"><span></span>{{branchPromotionValues.totalBranchPromotion() | number}}</h5>
                                                    </div>
                                                </li>
                                                <li ng-repeat="po in branchPromotoinDetail">
                                                    <div class="basic-bage">
                                                        <h4>{{po.goalTypeTitle}}</h4>
                                                        <p class="dir-ltr">{{po.totalFinalPromotion | number}}</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="basic-bage">
                                                        <h4>پورسانت عوامل فروش</h4>
                                                        <p class="dir-ltr">{{branchPromotionValues.totalSellerPromotion | number}}</p>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-4" ng-repeat="rec in getRecieptPromotions()">
                                        <div class="basic basic-wrap">
                                            <ul>
                                                <li>
                                                    <div class="ls-hex-bage standard-bage">
                                                        <span class="ls-pricing">{{rec.goalTypeTitle}}</span>
                                                    </div>
                                                    <div class="basic-price-simple">
                                                        <h5 class="dir-ltr"><span></span>{{rec.totalFinalPromotion | number}}</h5>
                                                    </div>
                                                </li>
                                                <li ng-repeat="po in rec.positionPromotions">
                                                    <h4>{{po.positionTitle}}</h4>
                                                    <p class="dir-ltr">{{po.promotion | number}}</p>
                                                </li>
                                                <li ng-show="rec.positionPromotions.length<3">

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                                <div class="ls_divider"></div>
                                <br />
                                <div class="alert alert-warning" ng-if="branchPromotoinDetail[0].promotionReviewStatusId != 1">
                                    <strong>توجه!</strong> پورسانت تقسیم و ارسال شده است.
                                </div>
                                <form novalidate role="form" esp-validate-complete="submit()"
                                      esp-validate-options="{promptPosition:'bottomRight',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                                      class="form-horizontal ls_form" name="form">
                                    
                                    <div class="row">
                                        <table class="table table-striped" cellspacing="0">
                                            <thead class="bold">
                                                <tr>
                                                    <th rowspan="3" style="vertical-align:middle;width:40px" class="text-center">#</th>
                                                    <th colspan="2" class="text-center">
                                                        <input type="text" class="form-control" ng-model="member_srch" />
                                                    </th>
                                                    <th class="text-center">باقی مانده</th>
                                                    <th class="align-center dir-ltr">{{branchPromotionValues.totalSalesPromotion - totalValues.totalSalesPromotion | number}}</th>
                                                    <th class="align-center dir-ltr">{{branchPromotionValues.totalReceiptPromotion - totalValues.totalReceiptPromotion | number}}</th>
                                                    <th class="align-center dir-ltr">{{branchPromotionValues.totalSellerPromotion - totalValues.totalSellerPromotion | number}}</th>
                                                    <th class="align-center dir-ltr">{{branchPromotionValues.totalBranchPromotion() - totalValues.totalPromotion() | number}}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="3" style="vertical-align:middle" class="align-center">اطلاعات پرسنل</th>
                                                    <th colspan="4" class="align-center">پورسانت</th>
                                                </tr>
                                                <tr>
                                                    <th class="align-center">نام</th>
                                                    <th class="align-center">کد</th>
                                                    <th class="align-center">پست سازمانی</th>
                                                    <th class="align-center">تامین کننده</th>
                                                    <th class="align-center">وصول</th>
                                                    <th class="align-center">عوامل فروش</th>
                                                    <th class="align-center">جمع</th>
                                                </tr>
                                            </thead>
                                        </table>

                                        <div style="height:400px;overflow-x:auto">
                                            <table class="table table-striped" cellspacing="0">
                                                <tbody>
                                                    <tr ng-repeat="record in memberSharePromotionList | filter : memberFilter  ">
                                                        <td class="align-center" style="width:40px">
                                                            {{$index +1}}
                                                        </td>
                                                        <td class="align-center">
                                                            {{record.fullName}}
                                                        </td>
                                                        <td class="align-center">
                                                            {{record.memberCode}}

                                                        </td>
                                                        <td class="align-center">
                                                            {{record.positionTitle}}
                                                        </td>
                                                        <td class="align-center dir-ltr">
                                                            <input type="text" class="form-control dir-ltr"
                                                                   ng-model="record.branchSalesPromotion"
                                                                   ng-trim=false
                                                                   ng-change="setTotalValues()"
                                                                   awnum="price">
                                                        </td>
                                                        <td class="align-center dir-ltr">
                                                            <input type="text" class="form-control dir-ltr"
                                                                   ng-model="record.receiptPromotion"
                                                                   ng-change="setTotalValues()"
                                                                   ng-trim=false
                                                                   awnum="price">
                                                        </td>
                                                        <td class="align-center dir-ltr">
                                                            <input type="text" class="form-control  dir-ltr"
                                                                   ng-model="record.sellerPromotion"
                                                                   ng-change="setTotalValues()"
                                                                   ng-trim=false
                                                                   awnum="price">
                                                        </td>
                                                        <td class="align-center dir-ltr">
                                                            {{getMemberTotalPromotion(record) | number}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <table class="table table-striped" cellspacing="0">
                                            <tfoot class="bold">
                                                <tr>
                                                    <th colspan="3" class="text-center">جمع کل</th>
                                                    <th class="align-center dir-ltr">{{totalValues.totalSalesPromotion | number}}</th>
                                                    <th class="align-center dir-ltr">{{totalValues.totalReceiptPromotion | number}}</th>
                                                    <th class="align-center dir-ltr">{{totalValues.totalSellerPromotion | number}}</th>
                                                    <th class="align-center dir-ltr">{{totalValues.totalPromotion() | number}}</th>
                                                </tr>
                                                
                                            </tfoot>
                                        </table>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="submit" name="Add" class="btn btn-success" 
                                                >
                                            <i class="fa fa-check"></i>
                                            <span>ثبت</span>
                                        </button>
                                        <button type="button" ng-show="branchPromotionValues.totalBranchPromotion() - totalValues.totalPromotion() == 0"
                                                ng-click="releaseManagerStep1()"
                                                class="btn btn-danger">
                                            <i class="fa fa-send-o"></i>
                                            <span>تایید نهایی و ارسال اطلاعات</span>
                                        </button>

                                    </div>
                                    <div class="alert alert-warning">
                                        <i class="fa fa-warning"></i>
                                        لطفا پس از اتمام تعیین پورسانت پرسنل ،جهت ارسال اطلاعات از گزینه <strong>تایید نهایی و ارسال اطلاعات</strong> استفاده نماید.
                                        توجه داشته باشید که بعد از زدن این گزینه امکان تغییر اطلاعات وجود ندارد
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
