<div ng-controller="promotion.branchShare.manager.indexController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="itemView-Body col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row ls-pricing-table-wrap">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="basic free-wrap">
                                            <ul>
                                                <li>
                                                    <div class="ls-hex-bage premium-bage">
                                                        <span class="ls-pricing">جمع پورسانت</span>
                                                    </div>
                                                    <div class="basic-price-simple">
                                                        <h5 class="dir-ltr"><span></span>{{getTotal() | number}}</h5>
                                                    </div>
                                                </li>
                                                <li ng-repeat="po in branchPromotoinDetail">
                                                    <div class="basic-bage">
                                                        <h4>{{po.goalTypeTitle}}</h4>
                                                        <p class="dir-ltr">{{po.totalFinalPromotion | number}}</p>
                                                    </div>

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-4" ng-repeat="rec in getRecieptPromotions()">
                                        <div class="basic basic-wrap">
                                            <ul>
                                                <li>
                                                    <div class="ls-hex-bage standard-bage">
                                                        <span class="ls-pricing">{{rec.goalTypeTitle}}</span>
                                                    </div>
                                                    <div class="basic-price-simple">
                                                        <h5 class="dir-ltr"><span></span>{{rec.totalFinalPromotion | number}}</h5>
                                                    </div>
                                                </li>
                                                <li ng-repeat="po in rec.positionPromotions">
                                                    <h4>{{po.positionTitle}}</h4>
                                                    <p class="dir-ltr">{{po.promotion | number}}</p>
                                                </li>
                                                <li ng-show="rec.positionPromotions.length<3">

                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                                <div class="ls_divider"></div>
                                <br />
                                <div class="alert alert-warning" ng-if="branchPromotoinDetail[0].promotionReviewStatusId != 1">
                                    <strong>توجه!</strong> پورسانت تقسیم و ارسال شده است.
                                </div>
                                <div class="panel panel-dark" ng-show="branchPromotoinDetail[0].promotionReviewStatusId == 1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">مشخص کردن پورسانت پرسنل</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel-body">
                                                    <form novalidate role="form" esp-validate-complete="submit()"
                                                          esp-validate-options="{promptPosition:'bottomLeft',autoPositionUpdate: true,autoHidePrompt:true}"
                                                          class="form-horizontal ls_form" name="form">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-sm-8 col-md-8">
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">
                                                                            <i class="red fa fa-asterisk"></i>
                                                                            نام پرسنل
                                                                        </label>
                                                                        <div class="col-md-10">
                                                                            <ui-select ng-model="viewModel.member" class="validate[funcCall[ifUiSelectNotEmpty]]"
                                                                                       reset-search-input="true">
                                                                                <ui-select-match placeholder="پرسنل را انتخاب کنید" allow-clear="true">
                                                                                    <span ng-bind="$select.selected.fullName"></span>
                                                                                </ui-select-match>
                                                                                <ui-select-choices repeat="item in branchMembers  | propsFilter: {code: $select.search, fullName: $select.search} ">
                                                                                    <div ng-bind-html="item.fullName | highlight: $select.search" title="{{item.fullName}}"></div>
                                                                                    <small>
                                                                                        کد : <span ng-bind-html="item.code | highlight: $select.search"></span>
                                                                                    </small>
                                                                                    <div class="row ls_divider"></div>
                                                                                </ui-select-choices>
                                                                                <ui-select-no-choice>
                                                                                    موردی یافت نشد
                                                                                </ui-select-no-choice>
                                                                            </ui-select>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" ng-show="getTotal() >= assigendPromotion">
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 control-label">
                                                                            <i class="red fa fa-asterisk"></i>
                                                                            پورسانت
                                                                        </label>
                                                                        <div class="col-md-10">
                                                                            <input type="text" class="form-control validate[required] dir-ltr"
                                                                                   ng-model="viewModel.managerPromotion"
                                                                                   ng-trim=false
                                                                                   awnum="price">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" name="Add" class="btn btn-success" ng-show="getTotal() >= assigendPromotion">
                                                                        <i class="fa fa-check"></i>
                                                                        <span>ثبت</span>
                                                                    </button>
                                                                    <!---->
                                                                    <button type="button" ng-show="getTotal() - assigendPromotion == 0"
                                                                            ng-click="releaseManagerStep1()"
                                                                            class="btn btn-danger">
                                                                        <i class="fa fa-send-o"></i>
                                                                        <span>تایید نهایی و ارسال اطلاعات</span>
                                                                    </button>

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                                <div class="row">
                                                                    <label class="col-md-6 control-label">
                                                                        مقدار مشخص شده
                                                                    </label>
                                                                    <div class="col-md-6">
                                                                        <h5 class="dir-ltr">{{assigendPromotion | number}} </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-6 control-label">
                                                                        مقدار باقی مانده
                                                                    </label>
                                                                    <div class="col-md-6">
                                                                        <h5 class="dir-ltr">{{getTotal() - assigendPromotion | number}} </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="alert alert-warning">
                                                                    <i class="fa fa-warning"></i>
                                                                    لطفا پس از اتمام تعیین پورسانت پرسنل ،جهت ارسال اطلاعات از گزینه <strong>تایید نهایی و ارسال اطلاعات</strong> استفاده نماید.
                                                                    توجه داشته باشید که بعد از زدن این گزینه امکان تغییر اطلاعات وجود ندارد
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <br />
                                                    <div class="table-responsive ls-table" ng-if="branchMemberPromotions.length != 0">
                                                        <table class="table table-bordered table-striped " cellspacing="0">
                                                            <thead class="bold">
                                                                <tr>
                                                                    <td class="align-center">نام</td>
                                                                    <td class="align-center">پورسانت</td>
                                                                    <td class="align-center">درصد از کل</td>
                                                                    <td class="align-center" width="70px"></td>
                                                                </tr>
                                                            </thead>
                                                            <tr ng-repeat="record in branchMemberPromotions">
                                                                <td class="text-center">
                                                                    {{record.member.fullName}}
                                                                </td>
                                                                <td class="align-center dir-ltr">
                                                                    {{record.managerPromotion | number}}
                                                                </td>
                                                                <td class="align-center dir-ltr">
                                                                    {{(record.managerPromotion / getTotal())* 100 | number}}
                                                                </td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-xs btn-success"
                                                                            ng-click="editMemberShare(record)">
                                                                        <i class="fa fa-pencil-square-o"></i>
                                                                    </button>
                                                                    <button class="btn btn-xs btn-danger"
                                                                            ng-click="deleteMemberShare(record)">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>