################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
bin
obj
packages
PublishProfiles
v15
logs
applicationhost.config
.vs
.vs\config
AutoMapper.*
EntityFramework*.*
FluentValidation.*
jQuery.DataTables.WebApi.*
Newtonsoft.Json.*
Ninject*.*
Nlog.dll
Nlog.pdb
Nlog.xml
System*.*
Microsoft*.*
excel

