<table border="1" cellpadding="0" cellspacing="0" style="font-family:Tahoma;font-size:14px">
    <caption></caption>
    <thead>
        <tr>
            <td >نام مرکز</td>
            <td >پورسانت با درصد مشمول</td>
            <td >درصد مشمول</td>
            <td >پورسانت</td>
            <loop>
                <td >goalGoodsCategoryName</td>
            </loop>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                branchName
            </td>
            <td format="#,##0">
                totalFinalPromotion
            </td>
            <td >
                % sellerFulfillmentPercent
            </td>
            <td format="#,##0">
                totalPromotionWithOutFulfillmentPercent
            </td>
            <loop>
                <td format="#,##0">
                    finalPromotion
                </td>
            </loop>
        </tr>
    </tbody>
</table>