<div ng-controller="item.registrationController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate role="form" esp-validate-complete="submit()"
                      esp-validate-options="{promptPosition:'bottomRight',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                      class="form-horizontal ls_form" name="form">

                    <div class="row ls_divider">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                نام کاربری
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control validate[required]"
                                       ng-model="user.userName"
                                       ng-disabled="user.id != 0"
                                       placeholder="نام کاربری را وارد کنید">

                            </div>
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                پست کاربر
                            </label>
                            <div class="col-md-4">
                                <select class="form-control validate[funcCall[ifSelectNotEmpty]]"
                                        ng-options="item.id as item.faName for item in roles"
                                        ng-model="user.roleId">
                                    <option value="" selected>[ انتخاب کنید ]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ls_divider" ng-if="user.id == 0">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                رمز عبور
                            </label>
                            <div class="col-md-4">
                                <input type="password" class="form-control validate[required]"
                                       ng-model="user.password"
                                       name="password"
                                       id="password"
                                       placeholder="رمز عبور را وارد کنید">
                            </div>
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                تایید رمز عبور
                            </label>
                            <div class="col-md-4">
                                <input type="password" class="form-control validate[required,equals[password]]"
                                       ng-model="user.confirmPassword"
                                       placeholder="رمز عبور را وارد کنید">
                            </div>
                        </div>
                    </div>
                    <div class="row ls_divider">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                نام
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control validate[required]"
                                       ng-model="user.name"
                                       placeholder="نام را وارد کنید">
                            </div>
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                نام خانوادگی
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control validate[required]"
                                       ng-model="user.lastName"
                                       placeholder="نام خانوادگی را وارد کنید">
                            </div>
                        </div>
                    </div>
                    <div class="row ls_divider">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                آدرس ایمیل
                            </label>
                            <div class="col-md-4">
                                <input type="email" class="form-control validate[required,custom[email]]"
                                       ng-model="user.email"
                                       placeholder="ادرس ایمیل را وارد کنید">
                            </div>
                            <label class="col-md-2 control-label">
                                شماره موبایل
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control"
                                       ng-model="user.mobileNumber"
                                       ng-trim=false
                                       awnum="phone"
                                       placeholder="شماره موبایل را وارد کنید">
                            </div>
                        </div>

                    </div>
                    <div class="row ls_divider">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">  مراکز تحت کنترل کاربر</h3>
                                    <ul class="panel-control">
                                        <li>
                                            <i-check click="onclick_selectAll()" ng-model="selectAll">انتخاب همه</i-check>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <ul class="checkbox">
                                        <li ng-repeat="branch in branches">
                                            <i-check id="{{branch.id}}" ng-model="branchChecked[branch.id]">{{branch.name}}</i-check>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="Add" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            <span>ثبت</span>
                        </button>
                        <button type="button" class="btn btn-danger" ng-show="user.id != 0"
                                data-ng-click="delete()">
                            <i class="fa fa-trash-o"></i>
                            <span>حذف</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">
                            <i class="fa fa-mail-forward"></i>
                            <span>بازگشت</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

