<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="Seq.Client.NLog"/>
  </extensions>

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="AsyncWrapper" name="wrp_to_Warn_tgt_file">
      <target xsi:type="File" name="to_Warn_tgt_file" fileName="${basedir}/logs/${shortdate}.json" >
        <layout xsi:type="JsonLayout" >
          <attribute name='time' layout='${longdate}' />
          <attribute name='level' layout='${level:upperCase=true}'/>
          <attribute name='type' layout='${exception:format=Type}'/>
          <attribute name='message' layout='${message}' />
          <attribute name='innerException' encode='false'   >
            <layout xsi:type='JsonLayout' renderEmptyObject='false' >
              <attribute name='type' layout='${exception:format=:innerFormat=Type:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}'/>
              <attribute name='message' layout='${exception:format=:innerFormat=Message:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}' />
            </layout>
          </attribute>
          <attribute name="serviceName" layout="${var:serviceName}" />
        </layout>
      </target>
    </target>
    <target xsi:type="AsyncWrapper" name="wrp_just_Warn_tgt_file">
      <target xsi:type="File" name="just_Warn_tgt_file" fileName="${basedir}/logs/${shortdate}(warning).json">
        <layout xsi:type="JsonLayout" >
          <attribute name='time' layout='${longdate}' />
          <attribute name='message' layout='${message}' />
          <attribute name="serviceName" layout="${var:serviceName}" />
        </layout>
      </target>
    </target>
    <target xsi:type="AsyncWrapper" name="wrp_info_tgt_file">
      <target xsi:type="File" name="info_tgt_file" fileName="${basedir}/logs/${shortdate}(info).json">
        <layout xsi:type="JsonLayout" >
          <attribute name='time' layout='${longdate}' />
          <attribute name='message' layout='${message}' />
          <attribute name="serviceName" layout="${var:serviceName}" />
        </layout>
      </target>
    </target>

    <target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" >
      <property name="Application" value="${var:appName}" />
      <property name="serviceName" value="${var:serviceName}" />
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <logger name="*" level="Info" writeTo="wrp_info_tgt_file" />
    <logger name="*" level="Warn" writeTo="wrp_just_Warn_tgt_file" />
    <logger name="*" minlevel="Warn" writeTo="wrp_to_Warn_tgt_file" />
    <logger name="*" minlevel="Info"  writeTo="seq" />
  </rules>
</nlog>
