<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.1" targetFramework="net452" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="Moq" version="4.7.137" targetFramework="net452" />
  <package id="Ninject" version="3.3.4" targetFramework="net452" />
  <package id="Ninject.MockingKernel" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.MockingKernel.Moq" version="3.3.0" targetFramework="net452" />
  <package id="NLog" version="4.5.8" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net452" />
  <package id="Seq.Client.NLog" version="2.3.24" targetFramework="net452" />
</packages>