<table>
    <caption>
        
    </caption>
    <thead>
        <tr>
            <td rowspan="2">نام مرکز</td>
            <td colspan="3">درصد تحقق</td>
        </tr>
        <tr>
            <td >هدف کل یا تجمیعی</td>
            <td >وصول هدف کل</td>
            <td>وصول خصوصی</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                branch
            </td>
            <td>
                % totalAndAggregationReached
            </td>
            <td>
                % totalReceiptReachedPercent
            </td>
            <td>
                % privateReceiptReachedPercent
            </td>
        </tr>
    </tbody>
</table>