<div ng-controller="item.actionController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate role="form" esp-validate-complete="submit()"
                      esp-validate-options="{promptPosition:'bottomRight',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                      class="form-horizontal ls_form" name="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12" should-apply="true" tree="treeInstance_menu" ng-model="appMenu"
                                 tree-events='select_node: selectMenuNode'
                                 js-tree="treeConfig_menu"></div>
                            <div class="col-md-12">
                                <label class="col-md-4 control-label">
                                    Html Url
                                </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control dir-ltr"
                                           readonly
                                           ng-model="viewModel.htmlUrl">
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <br />
                                <div class="modal-footer">
                                    <button type="submit" ng-show="viewModel.htmlUrl != null" class="btn btn-success">
                                        <i class="fa fa-check"></i>
                                        <span>ثبت</span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="cancel()">
                                        <i class="fa fa-close"></i>
                                        <span>بازگشت</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-4 control-label">
                                    جستجو
                                </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control dir-ltr"
                                           ng-keyup="searchAction_keyup()"
                                           ng-model="searchAction">
                                </div>
                            </div>
                            <div class="col-md-12" should-apply="true" tree="treeInstance_action" ng-model="allAppActions"
                                 tree-events='select_node: selectActionNode'
                                 js-tree="treeConfig_action"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
