<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="Seq.Client.NLog"/>
  </extensions>

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="AsyncWrapper" name="wrp_error_warn_tgt_file">
      <target xsi:type="File" name="error_warn_tgt_file" fileName="${basedir}/logs/${shortdate}(er-war).csv" >
        <layout xsi:type="CsvLayout" >
          <column name='time' layout='${longdate}' />
          <column name='level' layout='${level:upperCase=true}'/>
          <column name='type' layout='${exception:format=Type}'/>
          <column name='message' layout='${message}' />
          <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
          <column name="exception" layout="${exception:format=ToString}"/>
          <column name="serviceName" layout="${var:serviceName}" />
        </layout>
      </target>
    </target>
    <target xsi:type="AsyncWrapper" name="wrp_info_tgt_file">
      <target xsi:type="File" name="info_tgt_file" fileName="${basedir}/logs/${shortdate}(info).csv">
        <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
          <column name="time" layout="${longdate}" />
          <column name="level" layout="${level:upperCase=true}"/>
          <column name="message" layout="${message}" />
          <column name="serviceName" layout="${var:serviceName}"/>
        </layout>
      </target>
    </target>

    <target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" >
      <property name="Application" value="${var:appName}" />
      <property name="serviceName" value="${var:serviceName}" />
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <logger name="*" minlevel="Trace" writeTo="wrp_info_tgt_file" />
    <logger name="*" levels="Warn,Error" writeTo="wrp_error_warn_tgt_file" />
    <logger name="*" minlevel="Info"  writeTo="seq" />
  </rules>
</nlog>
