<div ng-controller="indexController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="ls-editable-table table-responsive ls-table ">
                        <esp.ng.datatable columns="dataColumns" server-Url="{{serverUrl}}"
                                          enable-Expand-Column="true"
                                          fn-Details-Expanded="companyExpanded()">
                        </esp.ng.datatable>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>-->
</div>