<div ng-controller="item.permissionController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate role="form" esp-validate-complete="submit()"
                      esp-validate-options="{promptPosition:'bottomRight',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                      class="form-horizontal ls_form" name="form">
                    <div class="row ls_divider">
                        <div class="col-lg-6">
                            <label class="col-md-4 control-label">
                                عنوان نقش
                            </label>
                            <div class="col-md-8">
                                <select class="form-control validate[funcCall[ifSelectNotEmpty]]"
                                        ng-options="item.id as item.faName for item in roles "
                                        data-ng-change="role_changed()"
                                        ng-model="viewModel.roleId">
                                    <option value="" selected>[ انتخاب کنید ]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div should-apply="true" tree="treeInstance" ng-model="appMenu" js-tree="treeConfig"></div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" name="Add" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            <span>ثبت</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
