<table>
    <thead>
        <tr>
            <td>نام مرکز</td>
            <td>هدف کل یا تجمیعی</td>
            <td>وصول هدف کل</td>
            <td>وصول خصوصی</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                branchName
            </td>
            <td>
                % totalAndAggregationReached
            </td>
            <td>
                % totalReceiptFulfilledPercent
            </td>
            <td>
                % privateFulfilledPercent
            </td>
        </tr>
    </tbody>
</table>