<table border="1" cellpadding="0" cellspacing="0" style="font-family:Tahoma;font-size:14px" >
    <caption>
        
    </caption>
    <thead >
        <tr style="font-weight:bold;text-align:center">
            <td style="vertical-align:middle" rowspan="2">نام مرکز</td>
            <td colspan="3">درصد تحقق</td>
        </tr>
        <tr style="font-weight:bold;text-align:center">
            <td >هدف کل یا تجمیعی</td>
            <td >وصول هدف کل</td>
            <td>وصول خصوصی</td>
        </tr>
    </thead>
    <tbody >
        <tr >
            <td style="text-align:center">
                branch
            </td>
            <td style="text-align:center">
                % totalAndAggregationReached
            </td>
            <td style="text-align:center">
                % totalReceiptReachedPercent
            </td>
            <td style="text-align:center">
                % privateReceiptReachedPercent
            </td>
        </tr>
    </tbody>
</table>