<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEliteService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://neu.eliteco.ir:7082/EliteService.svc/IEliteService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEliteService" contract="neu.eliteco.services.IEliteService" name="BasicHttpBinding_IEliteService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.0" newVersion="3.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>