<div ng-controller="account.changeassword.itemController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate role="form" esp-validate-complete="submit()"
                      esp-validate-options="{promptPosition:'bottomRight',autoPositionUpdate: true
                                  ,autoHidePrompt:true}"
                      class="form-horizontal ls_form" name="form">

                    <div class="row ls_divider">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                رمز عبور جاری
                            </label>
                            <div class="col-md-4">
                                <div class="input-group ls-group-input">
                                    <span class="input-group-addon" ng-click="changeIcon($event)"><i class="fa fa-eye-slash"></i></span>
                                    <input type="password" class="form-control validate[required]"
                                           ng-model="user.currentPassword"
                                           show-password="show_currentPassword">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row ls_divider">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                رمز عبور جدید
                            </label>
                            <div class="col-md-4">
                                <div class="input-group ls-group-input">
                                    <span class="input-group-addon" ng-click="changeIcon($event)"><i class="fa fa-eye-slash"></i></span>
                                    <input type="password" class="form-control validate[required]"
                                           ng-model="user.newPassword"
                                           id="password"
                                           show-password="show_newPassword">
                                </div>
                            </div>
                            <label class="col-md-2 control-label">
                                <i class="red fa fa-asterisk"></i>
                                تایید رمز عبور جدید
                            </label>
                            <div class="col-md-4">
                                <div class="input-group ls-group-input">
                                    <span class="input-group-addon" ng-click="changeIcon($event)"><i class="fa fa-eye-slash"></i></span>
                                    <input type="password" class="form-control validate[required,equals[password]]"
                                           show-password="show_confirmPassword"
                                           id="password"
                                           ng-model="user.confirmPassword">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            <span>تغییر رمز عبور</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

