<div ng-controller="promotion.branchsalesoverviewrpt.indexController" ng-init="initializeController()" class="fragment {{transitionState}}">
    <div class="row">
        <div class="col-md-12">
            <!--Top header start-->
            <h3 class="ls-top-header breadcrumb">{{title}}</h3>
            <!--Top header end -->
        </div>
    </div>
    <div class="itemView-Body col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <label class="col-md-2 control-label">
                                        <i class="red fa fa-asterisk"></i>
                                        از تاریخ
                                    </label>
                                    <div class="col-md-4">
                                        <adm-dtp full-data="startDate_detail"
                                                 ng-model='viewModel.startDate'></adm-dtp>
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <i class="red fa fa-asterisk"></i>
                                        تا تاریخ
                                    </label>
                                    <div class="col-md-4">
                                        <adm-dtp disable='{{!viewModel.startDate}}'
                                                 mindate="{{startDate_detail.unix + 1}}"
                                                 ng-model='viewModel.endDate'></adm-dtp>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <div class="modal-footer">
                                    <button type="button" ng-click="showReport()"
                                            class="btn btn-info">
                                        <i class="fa fa-filter"></i>
                                        <span>نمایش گزارش</span>
                                    </button>
                                    <button type="button" ng-click="exportReport()" ng-show="reportData.length != 0"
                                            class="btn btn-success">
                                        <i class="fa fa-file-excel-o"></i>
                                        <span>خروجی اکسل</span>
                                    </button>
                                </div>

                                <div class="table-responsive text-nowrap" ng-show="reportData.length != 0">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td width="45px" colspan="2"></td>
                                                <td class="align-center" ><input type="text" ng-model="filter_branchName" class="form-control" /></td>
                                            </tr>
                                            <tr>
                                                <td>#</td>
                                                <td width="45px"></td>
                                                <td class="align-center ">نام مرکز</td>
                                                <td class="align-center ">جمع پورسانت بدون درصد مشمول</td>
                                                <td class="align-center ">درصد مشمول فروشنده</td>
                                                <td class="align-center ">جمع پورسانت با درصد مشمول</td>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="record in reportData | filter :{branchName: filter_branchName}  ">
                                            <tr >
                                                <td>
                                                    {{$index + 1}}
                                                </td>
                                                <td>
                                                    <a class="handpointer fa fa-arrow-circle-left fa-2x"
                                                       data-ng-click="collapse($event,record.branchId)" data-ng-if="record.goalPromotions!=null"
                                                       role="button"
                                                       aria-expanded="false">
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    {{record.branchName}}
                                                </td>
                                                <td class="align-center dir-ltr">
                                                    {{record.totalPromotionWithOutFulfillmentPercent | number}}
                                                </td>
                                                <td class="align-center">
                                                    % {{record.sellerFulfillmentPercent}}
                                                </td>
                                                <td class="align-center dir-ltr">
                                                    {{record.totalFinalPromotion | number}}
                                                </td>


                                            </tr>

                                            <tr id="view_{{record.branchId}}" hidden ng-if="record.goalPromotions!=null">
                                                <td colspan="6" class="info">
                                                    <table class="table table-bottomless">
                                                        <thead>
                                                            <tr>
                                                                <td width="45px"></td>
                                                                <td class="align-center" ><input type="text" ng-model="filter_goalName" class="form-control" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="45px">#</td>
                                                                <td class="align-center ">نام هدف</td>
                                                                <td class="align-center ">پورسانت بدون درصد مشمول</td>
                                                                <td class="align-center ">پورسانت با درصد مشمول</td>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="goalPr in record.goalPromotions | filter :{goalGoodsCategoryName: filter_goalName}  ">
                                                            <td>
                                                                {{$index + 1}}
                                                            </td>
                                                            <td class="align-center "data-ng-bind="goalPr.goalGoodsCategoryName"></td>
                                                            <td class="align-center dir-ltr" data-ng-bind="goalPr.promotionWithOutFulfillmentPercent | number"></td>
                                                            <td class="align-center dir-ltr" data-ng-bind="goalPr.finalPromotion | number"></td>
                                                            
                                                        </tr>
                                                    </table>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                    <div ng-show="reportData.length == 0">
                                        <table class="table" cellspacing="0">
                                            <caption>
                                                <h2>اطلاعاتی وجود ندارد</h2>
                                            </caption>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>